body{
    background-color: #DE2828;
}

.cloud img{
    position:absolute;
    z-index: -1;
    width: 100px;
    height: 150px;
    margin-top: 100px;
    
}

.mobile h1 a{
    font-family: 'Permanent Marker';
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    padding: 14px 75px;
}

.pc h2 a{
    position: absolute;
    font-family: 'Permanent Marker';
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    padding: 14px 75px;
    margin-top: 10px;
}

.text h1{
    color: white;
}